body {
    font-family: 'Source Sans Pro', sans-serif;
}
  
header {
    background-image: url(images/pic_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-pricing {
    background-image: url(images/pic_2.jpg);
}

.background-black {
    background-color: #071629;
}

.background-gray {
    background-color: #979797;
}

.background-purple {
    background-color: #c271ff;
}

.text-purple {
    color: #c271ff;
}

.textOpacity-35 {
    opacity: 0.35;
}

.textOpacity-50 {
    opacity: 0.50;
}

.textUnderline:after {
    background-color: #ffffff;
    display: block;
    content: '';
    position: absolute;
    width: 77%;
    height: 3px;
    bottom: 5px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

.ul-pricing:after {
    width: 55px;
}

.fontSize-10vw {
    font-size: 10vw;
}

.fontSize-12 {
    font-size: 12px;
}

.fontSize-14 {
    font-size: 14px;
}

.fontSize-18 {
    font-size: 18px;
}

.fontSize-22 {
    font-size: 22px;
}

.fontSize-32 {
    font-size: 32px;
}

.fontSize-44 {
    font-size: 44px;
}

.fontSize-60 {
    font-size: 60px;
}

.holberton_school-icon-arrow_3,
.holberton_school-icon-arrow_4 {
  font-size: 5rem;
}

.arrow-black {
    color: #000000;
}

.holberton_school-icon-check {
    font-size: 30px;
    color: #82d24f;
}

.image-play {
    margin: -110px 0 40px 85px;
}

.video {
    width: 255px;
    height: 335px;
}

[class^='holberton_school-icon-ic'] {
    color: #ffffff;
    font-size: 30px;
}
