body {
    font-family: 'Source Sans Pro', sans-serif;
}
  
header {
    background-image: url(images/pic_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-black {
    background-color: #071629;
}

.background-purple {
    background-color: #c271ff;
}

.text-purple {
    color: #c271ff;
}

.textOpacity-35 {
    opacity: 0.35;
}

.fontSize-10vw {
    font-size: 10vw;
}

.fontSize-14 {
    font-size: 14px;
}

.fontSize-18 {
    font-size: 18px;
}

.fontSize-22 {
    font-size: 22px;
}

.fontSize-32 {
    font-size: 32px;
}

.holberton_school-icon-arrow_3,
.holberton_school-icon-arrow_4 {
  font-size: 5rem;
}

.arrow-black {
    color: #000000;
}

.image-play {
    margin: -110px 0 40px 85px;
}

.video {
    width: 255px;
    height: 335px;
}

[class^='holberton_school-icon-ic'] {
    color: #ffffff;
    font-size: 30px;
}
